<div class="page-container">
  <h2>Données à Historique</h2>
  <table>
  <h2>Modification du Stock</h2>

  <table class="stock-operations">
    <tr>
      <th>Nom du Produit</th>
      <th>Opération</th>
      <th>Quantité</th>
      <th>Prix</th>
      <th>Prix d'Achat (ajout)</th>
      <th>Prix de Vente (retrait-par-vente)</th>
      <th>Chiffre d'Affaires (retrait-par-vente)</th>
      <th>Chiffre d'Affaires Annuel</th>
      <th>Ajouter</th>
    </tr>
    <tr *ngFor="let produit of listeProduits" class="product-row">
      <td>{{ produit.name }}</td>
      <td>
        <select [(ngModel)]="selectedOperation">
          <option value="ajout">Ajout</option>
          <option value="retrait-par-vente">Retrait par Vente</option>
          <option value="retrait-par-invendus">Retrait par Invendus</option>
        </select>
      </td>
      <td><input type="number" [(ngModel)]="produit.quantity_stock" placeholder="Quantité"></td>
      <td><input type="number" [(ngModel)]="produit.price" placeholder="Prix"></td>
      <td>
        <input *ngIf="selectedOperation === 'ajout'" type="number" [(ngModel)]="prixAchat" placeholder="Prix d'Achat">
      </td>
      <td>
        <input *ngIf="selectedOperation === 'retrait-par-vente'" type="number" [(ngModel)]="prixVente" placeholder="Prix de Vente">
      </td>
      <td>
        <input *ngIf="selectedOperation === 'retrait-par-vente'" type="number" [(ngModel)]="chiffreAffaires" placeholder="Chiffre d'Affaires">
      </td>
      <td>
        <input *ngIf="selectedOperation === 'retrait-par-vente'" type="number" [(ngModel)]="chiffreAffairesAnnuel" placeholder="Chiffre d'Affaires Annuel">
      </td>
      <td><button (click)="addStockOperation(productId, quantity, 'ajout')">Ajouter</button></td>
    </tr>
  </table>
</table>
<table><tr><div class="dashboard-component">
  <app-dashboardCa></app-dashboardCa>
</div></tr></table>

 <!--
<div class="dashboard-component">
    <app-dashboardCi></app-dashboardCi>
</div>
-->


  
</div>


